.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/images/imgbgimg.png');
    background-size: cover;
    height: 100vh;
  }
  
  .reg{
    color: white;
    text-align: center;
  }
  
  .curved-box {
    background-color: #ffffff !important;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    /* margin-top: 30px; */
  }
  .reghead{
    background: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 12px 0px 2px 0px !important;
    position: relative;
    width: 100% !important;
    margin-bottom: 8px;
  }

  .Regform {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .Regform label{
    margin-bottom: 10px;
  }
  .Regform input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(194, 223, 241);

    border-radius: 5px;
    font-size: 18px;
    transition: border-color 0.3s; 
    text-align: center;
  }
  
  .Regform input:focus {
    outline: none; 
    box-shadow: 0px 0px 5px 5px rgba(13, 181, 181, 0.4);
    transition: 0.3s ease-in-out;
  }
  
  .SubmitBtn {
    background-color: rgb(13, 181, 181);
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .SubmitBtn:hover {
    background: rgba(0, 5, 12, 0.789);
    color: white;
    font-weight: 500;
    
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  @media (max-width:500px) {
    .Regform{
      width: 250px;
    }
    .curved-box{
      padding: 10px;
    }
    .Regform input{
      padding: 5px;
    }
  }
  