.home-container{
    display: flex;
    width: 100%;
}
.homeleft{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
    margin-top: 1em;
    left: 3em;
    top: 6em;
    position: sticky;
}
.filterByCategory{
    display: flex;
    flex-direction: column;

}
.filterByPrice{
    display: flex;
    flex-direction: column;
}
.filterBtn{
    border: none;
    padding: 3px;
    font-weight: 700;
    font-size: medium;
}
.filterBtn:hover{
    background-color: rgb(25, 37, 145);
    color: white;
    border-radius: 5px;
    transition: .7s all;
}
.homeright{
    width: 70%;
}
.pro{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.pro-img{
    object-fit: contain;
}
.pro-cd{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.pro-cd:hover{
     box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.add-to-cart{
    border: none;
    padding: 5px;
    font-size: medium;
    margin-left: 3px;
    background-color: rgb(42, 42, 92);
    color: white;
    cursor: pointer;
}
.more-details{
    border: none;
    padding: 5px;
    font-size: medium;
     background-color: rgb(42, 42, 92);
    color: white;
    cursor: pointer;
}
.flexbtns button:hover{
    border-radius: 5px;
    transform: scale(.9);
    transition: .7s ease-in-out;
    background-color: rgb(47, 47, 107);
}
.load{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.load-more{
    text-align: center;
    border: none;
    padding: 7px;
    background-color: rgb(42, 42, 92);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: medium;
    margin-bottom: 7px;
}
 @media (max-width:675px) {

 .home-container{
    margin-top: 1.5em;
}
.homeleft{
    left: 1em;
}
.pro{
    grid-template-columns: auto auto;
}
}
@media (max-width:575px) {
    .homeright{
        margin-left: 1.5em;
    }
    
.pro{
    grid-template-columns: auto;
}
}
