/* ProductDetails.css */

.product-details-container {
    display: flex;
    justify-content: space-between;
    height: 100% !important ;
    background: rgb(255, 255, 255);

    
  }
  
  .product-details-more {
    flex: 1;
    margin-top: -0px !important;
    padding: 20px;
  
    box-shadow: 5px 0px 7px -3px rgba(20, 20, 20, 0.9);
  }
  
  .product-image img {
    margin-top: 12px !important;
    height: 200px !important;
    width: 200px;
    height: auto;
    margin-top: -20px;
  }
  
  .product-info {
    margin-top: 10px;
    height: 100px !important;
  }
  .justflex{
    display: flex;
    justify-content: space-between;

  }
  
  .product-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-info p {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  
  .description {
    margin-bottom: 15px;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  
  .similar-products {
    flex: 1;
    padding: 20px;
  }
  
  .similar-products h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .related-products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .related-product {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  }
  
  .related-product img {
    width: 100%;
    height: 300px;
  }
  
  .related-product-info {
    padding: 10px;
  }
  
  .related-product-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .related-product-info p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .proddet-container{
    background: rgb(245, 245, 246);
    padding-top: 70px !important; 
    height: 100% !important;
  }